*,
::after,
::before {
  box-sizing: border-box;
}
.comma {
  font-size: 2.5rem;
  font-weight: 800;
}
body {
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
}

.text-light {
  color: #f8f9fa !important;
}
.text-center {
  text-align: center !important;
}
.bg-warning {
  background-color: rgb(14, 166, 226) !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}

h2 {
  font-size: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
#quote-author {
  font-size: 30px;

  color: rgb(94, 94, 94);
}
.container {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.jumbotron {
  margin-top: 0px;
  padding: 20px 20px;
  margin-left: 0px;
  margin-bottom: 50px;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.btn {
  display: block;
  outline: none;
  padding: 10px;
  color: #f8f9fa;
  border: none;
  background-color: rgb(14, 166, 226);
  margin: 0px auto;
  width: 100%;
}
